.container {
    background: url(../assets/Desktop_Backgrounds1.png) no-repeat ;
    background-size: cover;
    height: auto;
    width: 100%;
}
.navbar {
    display: flex;
    padding-left: 200px;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 40px;
}
.nav-menu {
   margin: 0 auto;
} 
.nav-list {
    display: flex;
    font-size: 14px;
    list-style: none;
    margin: 0;
}
.nav-item {
    padding-right: 32px;
    color: #FFFFFF;
}
.logo-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
}
.activ  {
    border-bottom: 2px solid #FFFFFF;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}
.hero {
    height: 722px;
}
.hero-block {
    position: absolute;
    width: 426px;
    padding-top: 18%;
    text-align: center;
    padding-left: 35%;
}
.hero-headline {
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    padding-top: 13px;
    color: #FFFFFF;
}
.main {
    height: 700px;
    background: #EEEEEE;
}
.section-headline {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
    margin: 0;
    padding-top: 87px;
}
.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}
.lorem {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    margin: 0;
    padding-top: 30px;
}
.parg {
    line-height: 22px;
    text-align: center;
    color: #000000;
    height: 194px;
    margin: 0;
    padding: 48px 120px 0px 97px;
}
.button {
    text-align: center;
    padding-top: 21px;
}
.connect-button {
    background: #55C2D8;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    border: none;
}
.read {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.learn-more-block {
    text-align: center;
    background:linear-gradient(
        rgba(140, 79, 42, 0.3), 
        rgba(140, 79, 42, 0.3)
      ), url(../assets/Desktop_Backgrounds2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 665px;
}
.lorem-more {
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    padding: 6% 30% 0 30% ;
    color: #FFFFFF;
}
.button-container {
    padding-top: 53px;
}
.button-video {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border-style: none;
    background: #39C2D7;
}
.play-icon {
    color:#FFFFFF;
    font-size: 60px;
}
.video {
    height: 70px;
    text-align: center;
    transform: rotate(117deg);
}
.describe {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 5% 30% 0 30%;
    color: #FFFFFF;
}
.footer {
    background: #464547;
    padding-bottom: 3%;
}
.footer-main {
    padding-left: 10%;
}
.footer-logo {
    display: flex;
    align-items: center;
    padding-top: 1%;
}
.footer-par {
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}
.footer-par-link {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
.project {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    padding-left: 16px;
}